@(frm: play.api.data.Field, neo_aerodrome: List[models.NeoAerodrome], ocurrence_category: List[models.OcurrenceCategory], neoAerodromeOcurrenceCategoryOpt: Option[models.NeoAerodromeOcurrenceCategory] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

<div class="panel panel-default" id="nestedParent@frm.id">
    <div class="panel-heading">
        <a class="pull-right glyphicon glyphicon-remove" href="javascript:;" onclick="if(confirm('are you sure?')) $('#nestedParent@frm.id').remove()"></a>
        <h3 class="panel-title">@Messages("neoAerodromeOcurrenceCategory.form.title")</h3>
    </div>
    <div class="panel-body">

        @if(frm.hasErrors){
            <div id="neoAerodromeOcurrenceCategoryErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

            <input type="hidden" id="@frm("id").id" name="@frm("id").name" value="@frm("id").value" />
          <div class="form-group">
            @select(frm("neoAerodromeId"),neo_aerodrome.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "NeoAerodromeId")
          </div>
          <div class="form-group">
            @select(frm("ocurrenceCategoryId"),ocurrence_category.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "OcurrenceCategoryId")
          </div>

    </div>
</div>
    