@(frm: Form[models.NeoAerodromeOcurrenceCategoryFormData], neo_aerodrome: List[models.NeoAerodrome], ocurrence_category: List[models.OcurrenceCategory])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.neoAerodromeOcurrenceCategory.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.NeoAerodromeOcurrenceCategoryController.save(), 'id -> "neoAerodromeOcurrenceCategoryForm", 'role -> "form") {
            @views.html.neoAerodromeOcurrenceCategory._form(frm, neo_aerodrome, ocurrence_category)
        }

    </div>
}
    