@(frm: play.api.data.Field, user: List[models.User], company: List[models.Company], userCompanyOpt: Option[models.UserCompany] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

<div class="panel panel-default" id="nestedParent@frm.id">
    <div class="panel-heading">
        <a class="pull-right glyphicon glyphicon-remove" href="javascript:;" onclick="if(confirm('are you sure?')) $('#nestedParent@frm.id').remove()"></a>
        <h3 class="panel-title">@Messages("userCompany.form.title")</h3>
    </div>
    <div class="panel-body">

        @if(frm.hasErrors){
            <div id="userCompanyErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

            <input type="hidden" id="@frm("id").id" name="@frm("id").name" value="@frm("id").value" />
            <input type="hidden" id="@frm("userId").id" name="@frm("userId").name" value="@frm("userId").value" />
          <div class="form-group">
            @select(frm("companyId"),company.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "CompanyId")
          </div>

    </div>
</div>
    