@(frm: Form[models.UserCompanyFormData], user: List[models.User], company: List[models.Company])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.userCompany.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.UserCompanyController.save(), 'id -> "userCompanyForm", 'role -> "form") {
            @views.html.userCompany._form(frm, user, company)
        }

    </div>
}
    