@(frm: Form[models.MobileStationFormData], location: List[models.Location])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.mobileStation.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.MobileStationController.save(), 'id -> "mobileStationForm", 'role -> "form") {
            @views.html.mobileStation._form(frm, location)
        }

    </div>
}
    