@(frm: Form[models.NeoEventTypePhaseFormData], neo_aerodrome: List[models.NeoAerodrome], neo_event_type: List[models.NeoEventType], phase: List[models.Phase], neoEventTypePhaseOpt: Option[models.NeoEventTypePhase] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("neoEventTypePhase.form.title")</h1>


        @if(frm.hasErrors){
            <div id="neoEventTypePhaseErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @select(frm("neoAerodromeId"),neo_aerodrome.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "NeoAerodromeId")
          </div>
          <div class="form-group">
            @select(frm("neoEventTypeId"),neo_event_type.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "NeoEventTypeId")
          </div>
          <div class="form-group">
            @select(frm("phaseId"),phase.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "PhaseId")
          </div>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @neoEventTypePhaseOpt.map{ neoEventTypePhase =>
                @neoEventTypePhase.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.NeoEventTypePhaseController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    