@(neoEventTypePhase: models.NeoEventTypePhase)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.neoEventTypePhase.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("neoEventTypePhase.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoEventTypePhase.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NeoAerodrome</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.NeoAerodromeController.show(neoEventTypePhase.neoAerodromeId.get)">@neoEventTypePhase.getNeoAerodrome.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NeoEventType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.NeoEventTypeController.show(neoEventTypePhase.neoEventTypeId.get)">@neoEventTypePhase.getNeoEventType.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phase</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.PhaseController.show(neoEventTypePhase.phaseId.get)">@neoEventTypePhase.getPhase.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
        @neoEventTypePhase.id.map{ id =>
            <a href="@controllers.routes.NeoEventTypePhaseController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.NeoEventTypePhaseController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.NeoEventTypePhaseController.index(1,20)">@Messages("list")</a>

}