@(frm: Form[models.AircraftMassGroupFormData], aircraftMassGroup: models.AircraftMassGroup)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.aircraftMassGroup.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.AircraftMassGroupController.update(aircraftMassGroup.id.getOrElse(0)), 'id -> "aircraftMassGroupForm", 'role -> "form") {
            @views.html.aircraftMassGroup._form(frm, Some(aircraftMassGroup))
        }

    </div>
}
    