@(frm: Form[models.OperatorTypeFormData], operator_type: List[models.OperatorType], operatorType: models.OperatorType)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.operatorType.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.OperatorTypeController.update(operatorType.id.getOrElse(0)), 'id -> "operatorTypeForm", 'role -> "form") {
            @views.html.operatorType._form(frm, operator_type, Some(operatorType))
        }

    </div>
}
    