@(profile: models.Profile)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.profile.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("profile.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@profile.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Profile</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@profile.profile</p>
                </div>
            </div>
        @profile.id.map{ id =>
            <a href="@controllers.routes.ProfileController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.ProfileController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.ProfileController.index(1,20)">@Messages("list")</a>

}