@(frm: Form[models.AerodromeStatusFormData], aerodromeStatus: models.AerodromeStatus)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.aerodromeStatus.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.AerodromeStatusController.update(aerodromeStatus.id.getOrElse(0)), 'id -> "aerodromeStatusForm", 'role -> "form") {
            @views.html.aerodromeStatus._form(frm, Some(aerodromeStatus))
        }

    </div>
}
    