@(frm: Form[models.LicenseTypeFormData], license_type: List[models.LicenseType], licenseType: models.LicenseType)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.licenseType.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.LicenseTypeController.update(licenseType.id.getOrElse(0)), 'id -> "licenseTypeForm", 'role -> "form") {
            @views.html.licenseType._form(frm, license_type, Some(licenseType))
        }

    </div>
}
    