@(frm: Form[models.DoorFormData], branch: List[models.Branch], door: models.Door)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.door.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.DoorController.update(door.id.getOrElse(0)), 'id -> "doorForm", 'role -> "form") {
            @views.html.door._form(frm, branch, Some(door))
        }

    </div>
}
    