@(lala: models.Lala)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.lala.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("lala.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@lala.id</p>
                </div>
            </div>
            @controllers.CacaController.showByLala(lala.id)
        @lala.id.map{ id =>
            <a href="@controllers.routes.LalaController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.LalaController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.LalaController.index(1,20)">@Messages("list")</a>

}