@(frm: Form[models.ProfileUserFormData], profile: List[models.Profile], user: List[models.User])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.profileUser.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ProfileUserController.save(), 'id -> "profileUserForm", 'role -> "form") {
            @views.html.profileUser._form(frm, profile, user)
        }

    </div>
}
    