@(frm: Form[models.TrafficTypeFormData], trafficType: models.TrafficType)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.trafficType.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.TrafficTypeController.update(trafficType.id.getOrElse(0)), 'id -> "trafficTypeForm", 'role -> "form") {
            @views.html.trafficType._form(frm, Some(trafficType))
        }

    </div>
}
    