@(frm: Form[models.ProfileFormData], profile: models.Profile)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.profile.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ProfileController.update(profile.id.getOrElse(0)), 'id -> "profileForm", 'role -> "form") {
            @views.html.profile._form(frm, Some(profile))
        }

    </div>
}
    