@(frm: Form[models.NeoAerodromeFormData], reporting_entity: List[models.ReportingEntity], state_area: List[models.StateArea], aerodrome: List[models.Aerodrome], aerodrome_location: List[models.AerodromeLocation], aerodrome_status: List[models.AerodromeStatus], aerodrome_type: List[models.AerodromeType], runway: List[models.Runway], runway_surface_type: List[models.RunwaySurfaceType], helicopter_landing_area_type: List[models.HelicopterLandingAreaType], helicopter_landing_area_area_configuration: List[models.HelicopterLandingAreaAreaConfiguration], helicopter_landing_area_surface_type: List[models.HelicopterLandingAreaSurfaceType], ocurrence_class: List[models.OcurrenceClass], detection_phase: List[models.DetectionPhase], neo_report_status: List[models.NeoReportStatus], neoAerodromeOpt: Option[models.NeoAerodrome] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("neoAerodrome.form.title")</h1>


        @if(frm.hasErrors){
            <div id="neoAerodromeErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @select(frm("reportingEntityId"),reporting_entity.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "ReportingEntityId")
          </div>
          <div class="form-group">
            @myInputText(frm("reportingEntityName"), '_label -> "ReportingEntityName")
          </div>
          <div class="form-group">
            @inputDate(frm("generalInformation.when"), '_label -> "When")
          </div>
          <div class="form-group">
            @inputDate(frm("generalInformation.whenLocal"), '_label -> "WhenLocal")
          </div>
          <div class="form-group">
            @select(frm("generalInformation.whereStateAreaId"),state_area.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "WhereStateAreaId")
          </div>
          <div class="form-group">
            @myInputText(frm("generalInformation.whereLocationName"), '_label -> "WhereLocationName")
          </div>
          <div class="form-group">
            @myInputText(frm("generalInformation.whereLatitudeOcc"), '_label -> "WhereLatitudeOcc")
          </div>
          <div class="form-group">
            @myInputText(frm("generalInformation.whereLongitudeOcc"), '_label -> "WhereLongitudeOcc")
          </div>
          <div class="form-group">
            @myInputText(frm("generalInformation.whatHeadline"), '_label -> "WhatHeadline")
          </div>
          <div class="form-group">
            @myInputText(frm("generalInformation.whatNarrativeLanguaje"), '_label -> "WhatNarrativeLanguaje")
          </div>
          <div class="form-group">
            @myInputText(frm("generalInformation.whatNarrative"), '_label -> "WhatNarrative")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.aerodromeId"),aerodrome.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "AerodromeId")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.aerodromeLocationId"),aerodrome_location.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "AerodromeLocationId")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.aerodromeStatusId"),aerodrome_status.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "AerodromeStatusId")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.aerodromeTypeId"),aerodrome_type.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "AerodromeTypeId")
          </div>
          <div class="form-group">
            @myInputText(frm("aerodromeDescription.latitude"), '_label -> "Latitude")
          </div>
          <div class="form-group">
            @myInputText(frm("aerodromeDescription.longitude"), '_label -> "Longitude")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.runwayId"),runway.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "RunwayId")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.runwaySurfaceTypeId"),runway_surface_type.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "RunwaySurfaceTypeId")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.helicopterLandingAreaTypeId"),helicopter_landing_area_type.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "HelicopterLandingAreaTypeId")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.helicopterLandingAreaAreaConfigurationId"),helicopter_landing_area_area_configuration.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "HelicopterLandingAreaAreaConfigurationId")
          </div>
          <div class="form-group">
            @select(frm("aerodromeDescription.helicopterLandingAreaSurfaceTypeId"),helicopter_landing_area_surface_type.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "HelicopterLandingAreaSurfaceTypeId")
          </div>
          <div class="form-group">
            @select(frm("classification.ocurrenceClassId"),ocurrence_class.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "OcurrenceClassId")
          </div>
          <div class="form-group">
            @select(frm("classification.detectionPhaseId"),detection_phase.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "DetectionPhaseId")
          </div>
          <div id="neoAerodromeOcurrenceCategorysDiv_@frm("neoAerodromeOcurrenceCategorys").id">
              <h2>@Messages("neoAerodromeOcurrenceCategory.list")</h2>
              @repeat(frm("neoAerodromeOcurrenceCategorys"), min = 0) { field =>
                  @controllers.NeoAerodromeOcurrenceCategoryController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nneoAerodromeOcurrenceCategorys_@frm("neoAerodromeOcurrenceCategorys").id" value="@frm("neoAerodromeOcurrenceCategorys").indexes.size" />
          <div class="form-group">
              <a id="addNestedneoAerodromeOcurrenceCategory_@frm("neoAerodromeOcurrenceCategorys").id" href="javascript:;" onclick="addNestedNeoAerodromeOcurrenceCategory_@{frm("neoAerodromeOcurrenceCategorys").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("neoAerodromeOcurrenceCategory.related.add")</a>
              <span id="loadingNested_neoAerodromeOcurrenceCategory@frm("neoAerodromeOcurrenceCategorys").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedNeoAerodromeOcurrenceCategory_@{frm("neoAerodromeOcurrenceCategorys").id}() {
                    $('#addNestedneoAerodromeOcurrenceCategory_@frm("neoAerodromeOcurrenceCategorys").id').hide(); $('#loadingNested_neoAerodromeOcurrenceCategory@frm("neoAerodromeOcurrenceCategorys").id').show();
                    var i = parseInt($('#nneoAerodromeOcurrenceCategorys_@frm("neoAerodromeOcurrenceCategorys").id').val());
                    $.ajax({
                      url: "@controllers.routes.NeoAerodromeOcurrenceCategoryController.createNested()",
                      data: { i: i, name: '@frm("neoAerodromeOcurrenceCategorys").id' }
                    }).done(function(msg) {
                        $('#neoAerodromeOcurrenceCategorysDiv_@frm("neoAerodromeOcurrenceCategorys").id').append(msg)
                        $('#nneoAerodromeOcurrenceCategorys_@frm("neoAerodromeOcurrenceCategorys").id' ).val(i+1);
                        $('#addNestedneoAerodromeOcurrenceCategory_@frm("neoAerodromeOcurrenceCategorys").id').show(); $('#loadingNested_neoAerodromeOcurrenceCategory@frm("neoAerodromeOcurrenceCategorys").id').hide();
                    });
              }
          </script>
          <div id="neoEventTypePhasesDiv_@frm("neoEventTypePhases").id">
              <h2>@Messages("neoEventTypePhase.list")</h2>
              @repeat(frm("neoEventTypePhases"), min = 0) { field =>
                  @controllers.NeoEventTypePhaseController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nneoEventTypePhases_@frm("neoEventTypePhases").id" value="@frm("neoEventTypePhases").indexes.size" />
          <div class="form-group">
              <a id="addNestedneoEventTypePhase_@frm("neoEventTypePhases").id" href="javascript:;" onclick="addNestedNeoEventTypePhase_@{frm("neoEventTypePhases").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("neoEventTypePhase.related.add")</a>
              <span id="loadingNested_neoEventTypePhase@frm("neoEventTypePhases").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedNeoEventTypePhase_@{frm("neoEventTypePhases").id}() {
                    $('#addNestedneoEventTypePhase_@frm("neoEventTypePhases").id').hide(); $('#loadingNested_neoEventTypePhase@frm("neoEventTypePhases").id').show();
                    var i = parseInt($('#nneoEventTypePhases_@frm("neoEventTypePhases").id').val());
                    $.ajax({
                      url: "@controllers.routes.NeoEventTypePhaseController.createNested()",
                      data: { i: i, name: '@frm("neoEventTypePhases").id' }
                    }).done(function(msg) {
                        $('#neoEventTypePhasesDiv_@frm("neoEventTypePhases").id').append(msg)
                        $('#nneoEventTypePhases_@frm("neoEventTypePhases").id' ).val(i+1);
                        $('#addNestedneoEventTypePhase_@frm("neoEventTypePhases").id').show(); $('#loadingNested_neoEventTypePhase@frm("neoEventTypePhases").id').hide();
                    });
              }
          </script>
          <div class="form-group">
            @myInputText(frm("risk.riskClassification"), '_label -> "RiskClassification")
          </div>
          <div class="form-group">
            @myInputText(frm("risk.riskMethodology"), '_label -> "RiskMethodology")
          </div>
          <div class="form-group">
            @myInputText(frm("risk.riskAssessment"), '_label -> "RiskAssessment")
          </div>
          <div class="form-group">
            @myInputText(frm("assessment.analysisFollowUp"), '_label -> "AnalysisFollowUp")
          </div>
          <div class="form-group">
            @myInputText(frm("assessment.correctiveActions"), '_label -> "CorrectiveActions")
          </div>
          <div class="form-group">
            @myInputText(frm("assessment.conclusions"), '_label -> "Conclusions")
          </div>
          <div class="form-group">
            @select(frm("reportManagement.reportStatusId"),neo_report_status.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "ReportStatusId")
          </div>
          <div class="form-group">
            @myInputText(frm("reportManagement.reportVersion"), '_label -> "ReportVersion")
          </div>
          <div class="form-group">
            @myInputText(frm("attachments"), '_label -> "Attachments")
          </div>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @neoAerodromeOpt.map{ neoAerodrome =>
                @neoAerodrome.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.NeoAerodromeController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    