@(neoAerodrome: models.NeoAerodrome)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.neoAerodrome.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("neoAerodrome.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ReportingEntity</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.ReportingEntityController.show(neoAerodrome.reportingEntityId.get)">@neoAerodrome.getReportingEntity.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ReportingEntityName</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.reportingEntityName</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">When</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.when</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WhenLocal</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.whenLocal</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">StateArea</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.StateAreaController.show(neoAerodrome.generalInformation.whereStateAreaId.get)">@neoAerodrome.generalInformation.getStateArea.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WhereLocationName</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.whereLocationName</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WhereLatitudeOcc</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.whereLatitudeOcc</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WhereLongitudeOcc</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.whereLongitudeOcc</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WhatHeadline</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.whatHeadline</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WhatNarrativeLanguaje</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.whatNarrativeLanguaje</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">WhatNarrative</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.generalInformation.whatNarrative</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Aerodrome</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.AerodromeController.show(neoAerodrome.aerodromeDescription.aerodromeId.get)">@neoAerodrome.aerodromeDescription.getAerodrome.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AerodromeLocation</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.AerodromeLocationController.show(neoAerodrome.aerodromeDescription.aerodromeLocationId.get)">@neoAerodrome.aerodromeDescription.getAerodromeLocation.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AerodromeStatus</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.AerodromeStatusController.show(neoAerodrome.aerodromeDescription.aerodromeStatusId.get)">@neoAerodrome.aerodromeDescription.getAerodromeStatus.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AerodromeType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.AerodromeTypeController.show(neoAerodrome.aerodromeDescription.aerodromeTypeId.get)">@neoAerodrome.aerodromeDescription.getAerodromeType.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.aerodromeDescription.latitude</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.aerodromeDescription.longitude</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Runway</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">RunwaySurfaceType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">HelicopterLandingAreaType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">HelicopterLandingAreaAreaConfiguration</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">HelicopterLandingAreaSurfaceType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">OcurrenceClass</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.OcurrenceClassController.show(neoAerodrome.classification.ocurrenceClassId.get)">@neoAerodrome.classification.getOcurrenceClass.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DetectionPhase</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.DetectionPhaseController.show(neoAerodrome.classification.detectionPhaseId.get)">@neoAerodrome.classification.getDetectionPhase.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            @controllers.NeoAerodromeOcurrenceCategoryController.showByNeoAerodrome(neoAerodrome.id)
            @controllers.NeoEventTypePhaseController.showByNeoAerodrome(neoAerodrome.id)
            <div class="form-group">
                <label class="col-sm-2 control-label">RiskClassification</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.risk.riskClassification</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">RiskMethodology</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.risk.riskMethodology</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">RiskAssessment</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.risk.riskAssessment</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AnalysisFollowUp</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.assessment.analysisFollowUp</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CorrectiveActions</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.assessment.correctiveActions</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Conclusions</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.assessment.conclusions</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NeoReportStatus</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ReportVersion</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.reportManagement.reportVersion</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Attachments</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoAerodrome.attachments</p>
                </div>
            </div>
        @neoAerodrome.id.map{ id =>
            <a href="@controllers.routes.NeoAerodromeController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.NeoAerodromeController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.NeoAerodromeController.index(1,20)">@Messages("list")</a>

}