@(frm: Form[models.CompanyFormData], companyOpt: Option[models.Company] = None)(implicit flash: Flash, lang: Lang, session: Session, context: ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("company.form.title")</h1>


        @if(frm.hasErrors){
            <div id="companyErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("company"), '_label -> "Company")
          </div>
          <div class="form-group">
            @myInputText(frm("description"), '_label -> "Description")
          </div>
          <div class="form-group">
            @myInputText(frm("userData.username"), '_label -> "Username")
          </div>
          <div class="form-group">
            @myInputText(frm("userData.password"), '_label -> "Password")
          </div>
          <div class="form-group">
            @myInputText(frm("userData.email"), '_label -> "Email")
          </div>
          <div id="branchsDiv_@frm("branchs").id">
              <h2>@Messages("branch.list")</h2>
              @repeat(frm("branchs"), min = 0) { field =>
                  @controllers.BranchController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nbranchs_@frm("branchs").id" value="@frm("branchs").indexes.size" />
          <div class="form-group">
              <a id="addNestedbranch_@frm("branchs").id" href="javascript:;" onclick="addNestedBranch_@{frm("branchs").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a branch</a>
              <span id="loadingNested_branch@frm("branchs").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedBranch_@{frm("branchs").id}() {
                    $('#addNestedbranch_@frm("branchs").id').hide(); $('#loadingNested_branch@frm("branchs").id').show();
                    var i = parseInt($('#nbranchs_@frm("branchs").id').val());
                    $.ajax({
                      url: "@routes.BranchController.createNested()",
                      data: { i: i, name: '@frm("branchs").id' }
                    }).done(function(msg) {
                        $('#branchsDiv_@frm("branchs").id').append(msg)
                        $('#nbranchs_@frm("branchs").id' ).val(i+1);
                        $('#addNestedbranch_@frm("branchs").id').show(); $('#loadingNested_branch@frm("branchs").id').hide();
                    });
              }
          </script>





        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @companyOpt.map{ company =>
                @company.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@routes.CompanyController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    