@(frm: play.api.data.Field, runway_surface_type: List[models.RunwaySurfaceType], aerodrome: List[models.Aerodrome], runwayOpt: Option[models.Runway] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

<div class="panel panel-default" id="nestedParent@frm.id">
    <div class="panel-heading">
        <a class="pull-right glyphicon glyphicon-remove" href="javascript:;" onclick="if(confirm('are you sure?')) $('#nestedParent@frm.id').remove()"></a>
        <h3 class="panel-title">@Messages("runway.form.title")</h3>
    </div>
    <div class="panel-body">

        @if(frm.hasErrors){
            <div id="runwayErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

            <input type="hidden" id="@frm("id").id" name="@frm("id").name" value="@frm("id").value" />
          <div class="form-group">
            @myInputText(frm("runway"), '_label -> "Runway")
          </div>
          <div class="form-group">
            @select(frm("runwaySurfaceTypeId"),runway_surface_type.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "RunwaySurfaceTypeId")
          </div>
            <input type="hidden" id="@frm("aerodromeId").id" name="@frm("aerodromeId").name" value="@frm("aerodromeId").value" />

    </div>
</div>
    