@(frm: Form[models.IcebergFormData], location: List[models.Location], iceberg: models.Iceberg)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.iceberg.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.IcebergController.update(iceberg.id.getOrElse(0)), 'id -> "icebergForm", 'role -> "form") {
            @views.html.iceberg._form(frm, location, Some(iceberg))
        }

    </div>
}
    