@(list: List[models.Iceberg], total: Int, page: Int, pageLength: Int)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.iceberg.main(Html(Messages("home.title")))(sidebar(1)) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-success pull-right" data-dismiss="modal" href="@controllers.routes.IcebergController.create()">@Messages("new")</a>
            <h2 class="panel-title">
                @Messages("iceberg.list.title")
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @{Messages("paginator.list.total")+" "+total+" "+Messages("paginator.list.from")+" "+((page-1)*20)+" "+Messages("paginator.list.to")+" "+(math.min(page*20, total))}
            @views.html.userprofile.paginator(total, page, pageLength, {(x: Int, y: Int) => controllers.routes.IcebergController.index(x, y)})
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                                                                                                                        <th>@Messages("iceberg.id")</th>
                        <th>@Messages("iceberg.locationId")</th>
                        <th>@Messages("iceberg.mainBulletin")</th>
                        <th>@Messages("iceberg.network")</th>
                        <th>@Messages("iceberg.observations")</th>
                        <th>@Messages("Actions")</th>
                    </tr>
                </thead>
                <tbody>
                @for(obj <- list) {
                    <tr class="if(it.state==1){warning}else{}">
                                                                                                                                   <td>@obj.id</td>
                        <td>@obj.locationId</td>
                        <td>@obj.mainBulletin</td>
                        <td>@obj.network</td>
                        <td>@obj.observations</td>
                        <td>
                            <a href="@controllers.routes.IcebergController.show(obj.id.get)">@Messages("show")</a>
                            <a href="@controllers.routes.IcebergController.edit(obj.id.get)">@Messages("edit")</a>
                            <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.IcebergController.delete(obj.id.get)';">@Messages("delete")</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @views.html.userprofile.paginator(total, page, pageLength, {(x: Int, y: Int) => controllers.routes.IcebergController.index(x, y)})

        </div>
    </div>
}
    