@(iceberg: models.Iceberg)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.iceberg.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("iceberg.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@iceberg.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.LocationController.show(iceberg.locationId.get)">@iceberg.getLocation.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">MainBulletin</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@iceberg.mainBulletin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Network</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@iceberg.network</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Observations</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@iceberg.observations</p>
                </div>
            </div>
        @iceberg.id.map{ id =>
            <a href="@controllers.routes.IcebergController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.IcebergController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.IcebergController.index(1,20)">@Messages("list")</a>

}