@(frm: Form[models.FormInstanciaHistoriaFormData], form: List[models.Form], formInstanciaHistoria: models.FormInstanciaHistoria)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.formInstanciaHistoria.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.FormInstanciaHistoriaController.update(formInstanciaHistoria.id.getOrElse(0)), 'id -> "formInstanciaHistoriaForm", 'role -> "form") {
            @views.html.formInstanciaHistoria._form(frm, form, Some(formInstanciaHistoria))
        }

    </div>
}
    