@(frm: Form[models.PerfilFormData], perfil: models.Perfil)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.perfil.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.PerfilController.update(perfil.id.getOrElse(0)), 'id -> "perfilForm", 'role -> "form") {
            @views.html.perfil._form(frm, Some(perfil))
        }

    </div>
}
    