@(frm: Form[models.AircraftWakeTurbCategoryFormData])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.aircraftWakeTurbCategory.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.AircraftWakeTurbCategoryController.save(), 'id -> "aircraftWakeTurbCategoryForm", 'role -> "form") {
            @views.html.aircraftWakeTurbCategory._form(frm)
        }

    </div>
}
    