@(frm: play.api.data.Field, company: List[models.Company], branchOpt: Option[models.Branch] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

<div class="panel panel-default" id="nestedParent@frm.id">
    <div class="panel-heading">
        <a class="pull-right glyphicon glyphicon-remove" href="javascript:;" onclick="if(confirm('are you sure?')) $('#nestedParent@frm.id').remove()"></a>
        <h3 class="panel-title">@Messages("branch.form.title")</h3>
    </div>
    <div class="panel-body">

        @if(frm.hasErrors){
            <div id="branchErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

            <input type="hidden" id="@frm("id").id" name="@frm("id").name" value="@frm("id").value" />
          <div class="form-group">
            @myInputText(frm("branch"), '_label -> "Branch")
          </div>
            <input type="hidden" id="@frm("companyId").id" name="@frm("companyId").name" value="@frm("companyId").value" />
          <div class="form-group">
            @myInputText(frm("address"), '_label -> "Address")
          </div>
          <div class="form-group">
            @checkbox(frm("visible"), '_label -> "Visible")
          </div>
          <div class="form-group">
            @myInputText(frm("state"), '_label -> "State")
          </div>
          <div id="DoorsDiv_@frm("Doors").id">
              <h2>@Messages("Door.list")</h2>
              @repeat(frm("Doors"), min = 0) { field =>
                  @controllers.DoorController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nDoors_@frm("Doors").id" value="@frm("Doors").indexes.size" />
          <div class="form-group">
              <a id="addNestedDoor_@frm("Doors").id" href="javascript:;" onclick="addNestedDoor_@{frm("Doors").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("Door.related.add")</a>
              <span id="loadingNested_Door@frm("Doors").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedDoor_@{frm("Doors").id}() {
                    $('#addNestedDoor_@frm("Doors").id').hide(); $('#loadingNested_Door@frm("Doors").id').show();
                    var i = parseInt($('#nDoors_@frm("Doors").id').val());
                    $.ajax({
                      url: "@controllers.routes.DoorController.createNested()",
                      data: { i: i, name: '@frm("Doors").id' }
                    }).done(function(msg) {
                        $('#DoorsDiv_@frm("Doors").id').append(msg)
                        $('#nDoors_@frm("Doors").id' ).val(i+1);
                        $('#addNestedDoor_@frm("Doors").id').show(); $('#loadingNested_Door@frm("Doors").id').hide();
                    });
              }
          </script>
          <div id="WindowsDiv_@frm("Windows").id">
              <h2>@Messages("Window.list")</h2>
              @repeat(frm("Windows"), min = 0) { field =>
                  @controllers.WindowController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nWindows_@frm("Windows").id" value="@frm("Windows").indexes.size" />
          <div class="form-group">
              <a id="addNestedWindow_@frm("Windows").id" href="javascript:;" onclick="addNestedWindow_@{frm("Windows").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("Window.related.add")</a>
              <span id="loadingNested_Window@frm("Windows").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedWindow_@{frm("Windows").id}() {
                    $('#addNestedWindow_@frm("Windows").id').hide(); $('#loadingNested_Window@frm("Windows").id').show();
                    var i = parseInt($('#nWindows_@frm("Windows").id').val());
                    $.ajax({
                      url: "@controllers.routes.WindowController.createNested()",
                      data: { i: i, name: '@frm("Windows").id' }
                    }).done(function(msg) {
                        $('#WindowsDiv_@frm("Windows").id').append(msg)
                        $('#nWindows_@frm("Windows").id' ).val(i+1);
                        $('#addNestedWindow_@frm("Windows").id').show(); $('#loadingNested_Window@frm("Windows").id').hide();
                    });
              }
          </script>



    </div>
</div>
    