@(branch: models.Branch)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.branch.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("branch.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@branch.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Branch</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@branch.branch</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Company</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.CompanyController.show(branch.companyId.get)">@branch.getCompany.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@branch.address</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Visible</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@branch.visible</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">State</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@branch.state</p>
                </div>
            </div>
            @controllers.DoorController.showByBranch(branch.id)
            @controllers.WindowController.showByBranch(branch.id)
            <div class="form-group">
                <label class="col-sm-2 control-label">CreatedAt</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@branch.createdAt</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">UpdatedAt</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@branch.updatedAt</p>
                </div>
            </div>
        @branch.id.map{ id =>
            <a href="@controllers.routes.BranchController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.BranchController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.BranchController.index(1,20)">@Messages("list")</a>

}