@(frm: Form[models.ActionFormData], user: List[models.User], turn: List[models.Turn], character: List[models.Character], action: models.Action)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.action.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ActionController.update(action.id.getOrElse(0)), 'id -> "actionForm", 'role -> "form") {
            @views.html.action._form(frm, user, turn, character, Some(action))
        }

    </div>
}
    