@(action: models.Action)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.action.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("action.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">User</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.UserController.show(action.userId.get)">@action.getUser.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Turn</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.TurnController.show(action.turnId.get)">@action.getTurn.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Character</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.CharacterController.show(action.characterId.get)">@action.getCharacter.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">FromQ</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.fromQ</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">FromR</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.fromR</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">FromS</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.fromS</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ToQ</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.toQ</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ToR</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.toR</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ToS</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.toS</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CreatedAt</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.createdAt</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">UpdatedAt</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@action.updatedAt</p>
                </div>
            </div>
        @action.id.map{ id =>
            <a href="@controllers.routes.ActionController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.ActionController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.ActionController.index(1,20)">@Messages("list")</a>

}