@(field: play.api.data.Field, optionsS: Seq[(String,String)], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

    @elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

<div class="@elements.args.get('_class) @if(elements.hasErrors) {has-error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    @defining( "%s[]".format(field.name)) { checkboxName =>
        @defining( ( !field.indexes.isEmpty ) match {
            case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
            case _ => field.value.toSet
        }){ values =>
    <div class="checkboxMultiple" @toHtmlArgs(elements.args)>
        @optionsS.map { v =>
            <label><input type="checkbox" name="@checkboxName" value="@v._1" @if(values.contains(v._1)){checked="checked"}> @v._2</label>
        }

    </div>

        }}
    <span class="help-inline">@elements.infos(elements.lang).mkString(", ")</span>
    @if(!elements.args.get('hideErrors).isDefined){
        <span class="help-block">@elements.errors(elements.lang).mkString(", ")</span>
    }

</div>