@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

    @boxValue = @{ args.toMap.get('value).getOrElse("true") }
    @elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }


<div class="checkbox @elements.args.get('_class) @if(elements.hasErrors) {has-error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    <label>
        <input type="checkbox" id="@field.id" name="@field.name" value="@boxValue" @(if(field.value == Some(boxValue)) "checked" else "") @toHtmlArgs(elements.args.filterKeys(_ == 'value)) @toHtmlArgs(elements.args.filterKeys(_ != '_class))>
        @field.label
        @args.toMap.get('_text)

    </label>
    @if(!elements.args.get('hideErrors).isDefined){
        <span class="help-inline">@elements.infos(elements.lang).mkString(", ")</span>
        <span class="help-block">@elements.errors(elements.lang).mkString(", ")</span>
    }
</div>
