@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

    @elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

<div class="@elements.args.get('_class) @if(elements.hasErrors) {has-error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    <div class="input-group">
        <input type="text" class="form-control" id="@field.id" name="@field.name" value="@field.value" @toHtmlArgs(elements.args.filterKeys(_ != '_class))>
        <span class="input-group-btn btn-snowtam">
            <button id="btn-p-@field.id" class="btn btn-success" type="button">+</button>
            <button id="btn-m-@field.id" class="btn btn-danger" type="button">-</button>
        </span>
        <span class="help-inline">@elements.infos(elements.lang).mkString(", ")</span>
        <span class="help-block">@elements.errors(elements.lang).mkString(", ")</span>
    </div>
</div>

<script>
$("#btn-p-@{field.id}").click(function(){
var $input = $('input[id^="@field.id.substring(0, field.id.length-2)"]:last');
var id = +$input[0].id.match(/\d+/g) + 1; // Number out of ID and +1
$input.after($input.clone().attr('id', '@field.id.substring(0, field.id.length-2)'+id+'_').attr('name', '@field.name.substring(0, field.id.length-2)'+id+']').val('')); // Clone and assign newUser ID
});

$("#btn-m-@{field.id}").click(function(){
var $input = $('input[id^="@field.id.substring(0, field.id.length-2)"]');
if ($input.length > 1)
$('input[id^="@field.id.substring(0, field.id.length-2)"]:last').remove();
});
</script>
