@(field: play.api.data.Field, optionsS: Seq[(String,String)], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

    @elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

<div class="@elements.args.get('_class) @if(elements.hasErrors) {has-error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    @defining( if( elements.args.contains('multiple) ) "%s[]".format(field.name) else field.name ) { selectName =>
        @defining( ( !field.indexes.isEmpty && elements.args.contains('multiple) ) match {
            case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
            case _ => field.value.toSet
        }){ values =>
            <select id="@field.id" name="@selectName" @toHtmlArgs(elements.args)>
                @args.toMap.get('_default).map { defaultValue =>
                    <option class="blank" value="">@defaultValue</option>
                }
                @optionsS.map { v =>
                    <option value="@v._1" @if(values.contains(v._1)){selected="selected"}>@v._2</option>
                }
            </select>
            }}
    @if(!elements.args.get('hideErrors).isDefined){
        <span class="help-inline">@elements.infos(elements.lang).mkString(", ")</span>
        <span class="help-block">@elements.errors(elements.lang).mkString(", ")</span>
    }

</div>
