@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

    @elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

<div class="@elements.args.get('_class) @if(elements.hasErrors) {has-error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">

    <textarea id="@field.id" name="@field.name" rows="6" @toHtmlArgs(elements.args.filterKeys(_ != '_class))>@field.value</textarea>
    <span class="help-inline">@elements.infos(elements.lang).mkString(", ")</span>
    <span class="help-block">@elements.errors(elements.lang).mkString(", ")</span>


</div>
