@(frm: Form[models.HexFormData], user: List[models.User], hex: models.Hex)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.hex.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.HexController.update(hex.id.getOrElse(0)), 'id -> "hexForm", 'role -> "form") {
            @views.html.hex._form(frm, user, Some(hex))
        }

    </div>
}
    