@(frm: Form[models.ZaepFormData], zaep: models.Zaep)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.ifiscore.zaep.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.ifiscore.routes.ZaepController.update(zaep.id.getOrElse(0)), 'id -> "zaepForm", 'role -> "form") {
            @views.html.ifiscore.zaep._form(frm, Some(zaep))
        }

    </div>
}
    