@(zaep: models.Zaep)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.ifiscore.zaep.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("zaep.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@zaep.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Identification</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@zaep.identification</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zaep</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@zaep.zaep</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Limits</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@zaep.limits</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tpe</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@zaep.tpe</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ZoomLevel</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@zaep.zoomLevel</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CreatedAt</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@zaep.createdAt</p>
                </div>
            </div>
            @controllers.ifiscore.ZaepStepController.showByZaep(zaep.id)
        @zaep.id.map{ id =>
            <a href="@controllers.ifiscore.routes.ZaepController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.ifiscore.routes.ZaepController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.ifiscore.routes.ZaepController.index(1,20)">@Messages("list")</a>

}