@(aerodrome: models.Aerodrome)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.aerodrome.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("aerodrome.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@aerodrome.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">IcaoCode</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@aerodrome.icaoCode</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AerodromeStatus</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.AerodromeStatusController.show(aerodrome.aerodromeStatusId.get)">@aerodrome.getAerodromeStatus.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AerodromeType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.AerodromeTypeController.show(aerodrome.aerodromeTypeId.get)">@aerodrome.getAerodromeType.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@aerodrome.latitude</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@aerodrome.longitude</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ElevationAboveMsl</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@aerodrome.elevationAboveMsl</p>
                </div>
            </div>
            @controllers.RunwayController.showByAerodrome(aerodrome.id)
            @controllers.HelicopterLandingAreaController.showByAerodrome(aerodrome.id)
        @aerodrome.id.map{ id =>
            <a href="@controllers.routes.AerodromeController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.AerodromeController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.AerodromeController.index(1,20)">@Messages("list")</a>

}