@(frm: Form[models.LocationCountryFormData], location: List[models.Location], country: List[models.Country], locationCountryOpt: Option[models.LocationCountry] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("locationCountry.form.title")</h1>


        @if(frm.hasErrors){
            <div id="locationCountryErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @select(frm("locationId"),location.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "LocationId")
          </div>
          <div class="form-group">
            @select(frm("countryId"),country.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "CountryId")
          </div>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @locationCountryOpt.map{ locationCountry =>
                @locationCountry.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.LocationCountryController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    