@(frm: Form[models.LocationCountryFormData], location: List[models.Location], country: List[models.Country], locationCountry: models.LocationCountry)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.locationCountry.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.LocationCountryController.update(locationCountry.id.getOrElse(0)), 'id -> "locationCountryForm", 'role -> "form") {
            @views.html.locationCountry._form(frm, location, country, Some(locationCountry))
        }

    </div>
}
    