@(frm: Form[models.FlightCrewLicenseFormData], flight_crew: List[models.FlightCrew], license_type: List[models.LicenseType], license_issued_by: List[models.LicenseIssuedBy], license_validity: List[models.LicenseValidity], license_ratings: List[models.LicenseRatings])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.flightCrewLicense.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.FlightCrewLicenseController.save(), 'id -> "flightCrewLicenseForm", 'role -> "form") {
            @views.html.flightCrewLicense._form(frm, flight_crew, license_type, license_issued_by, license_validity, license_ratings)
        }

    </div>
}
    