@(list: List[models.FlightCrewLicense], total: Int, page: Int, pageLength: Int)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.flightCrewLicense.main(Html(Messages("home.title")))(sidebar(1)) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-success pull-right" data-dismiss="modal" href="@controllers.routes.FlightCrewLicenseController.create()">@Messages("new")</a>
            <h2 class="panel-title">
                @Messages("flightCrewLicense.list.title")
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @{Messages("paginator.list.total")+" "+total+" "+Messages("paginator.list.from")+" "+((page-1)*20)+" "+Messages("paginator.list.to")+" "+(math.min(page*20, total))}
            @views.html.userprofile.paginator(total, page, pageLength, {(x: Int, y: Int) => controllers.routes.FlightCrewLicenseController.index(x, y)})
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                                                                                                                        <th>@Messages("flightCrewLicense.id")</th>
                        <th>@Messages("flightCrewLicense.flightCrewId")</th>
                        <th>@Messages("flightCrewLicense.licenseTypeId")</th>
                        <th>@Messages("flightCrewLicense.licenseIssuedById")</th>
                        <th>@Messages("flightCrewLicense.dateOfLicense")</th>
                        <th>@Messages("flightCrewLicense.licenseValidityId")</th>
                        <th>@Messages("flightCrewLicense.licenseRatingsId")</th>
                        <th>@Messages("Actions")</th>
                    </tr>
                </thead>
                <tbody>
                @for(obj <- list) {
                    <tr class="if(it.state==1){warning}else{}">
                                                                                                                                   <td>@obj.id</td>
                        <td>@obj.flightCrewId</td>
                        <td>@obj.licenseTypeId</td>
                        <td>@obj.licenseIssuedById</td>
                        <td>@obj.dateOfLicense</td>
                        <td>@obj.licenseValidityId</td>
                        <td>@obj.licenseRatingsId</td>
                        <td>
                            <a href="@controllers.routes.FlightCrewLicenseController.show(obj.id.get)">@Messages("show")</a>
                            <a href="@controllers.routes.FlightCrewLicenseController.edit(obj.id.get)">@Messages("edit")</a>
                            <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.FlightCrewLicenseController.delete(obj.id.get)';">@Messages("delete")</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @views.html.userprofile.paginator(total, page, pageLength, {(x: Int, y: Int) => controllers.routes.FlightCrewLicenseController.index(x, y)})

        </div>
    </div>
}
    