@(flightCrewLicense: models.FlightCrewLicense)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.flightCrewLicense.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("flightCrewLicense.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@flightCrewLicense.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">FlightCrew</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.FlightCrewController.show(flightCrewLicense.flightCrewId.get)">@flightCrewLicense.getFlightCrew.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">LicenseType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.LicenseTypeController.show(flightCrewLicense.licenseTypeId.get)">@flightCrewLicense.getLicenseType.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">LicenseIssuedBy</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DateOfLicense</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@flightCrewLicense.dateOfLicense</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">LicenseValidity</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">LicenseRatings</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
        @flightCrewLicense.id.map{ id =>
            <a href="@controllers.routes.FlightCrewLicenseController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.FlightCrewLicenseController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.FlightCrewLicenseController.index(1,20)">@Messages("list")</a>

}