@(frm: Form[models.ReportingEntityFormData], reporting_entity: List[models.ReportingEntity])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.reportingEntity.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ReportingEntityController.save(), 'id -> "reportingEntityForm", 'role -> "form") {
            @views.html.reportingEntity._form(frm, reporting_entity)
        }

    </div>
}
    