@(reportingEntity: models.ReportingEntity)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.reportingEntity.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("reportingEntity.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@reportingEntity.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ReportingEntity</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@reportingEntity.reportingEntity</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ReportingEntity</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
        @reportingEntity.id.map{ id =>
            <a href="@controllers.routes.ReportingEntityController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.ReportingEntityController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.ReportingEntityController.index(1,20)">@Messages("list")</a>

}