@(frm: Form[models.CargoFormData], organizacion: List[models.Organizacion], cargo: models.Cargo)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.cargo.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.CargoController.update(cargo.id.getOrElse(0)), 'id -> "cargoForm", 'role -> "form") {
            @views.html.cargo._form(frm, organizacion, Some(cargo))
        }

    </div>
}
    