@(userAerodromes: List[models.UserAerodrome])

        <h2>@Messages("userAerodrome.related.list")</h2>
        @for(userAerodrome <- userAerodromes){
            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@userAerodrome.id</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Aerodrome</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.AerodromeController.show(userAerodrome.aerodromeId.get)">@userAerodrome.getAerodrome.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
        }
