@(frm: Form[models.FormInstanciaFormData], form: List[models.Form], formInstancia: models.FormInstancia)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.formInstancia.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.FormInstanciaController.update(formInstancia.id.getOrElse(0)), 'id -> "formInstanciaForm", 'role -> "form") {
            @views.html.formInstancia._form(frm, form, Some(formInstancia))
        }

    </div>
}
    