@(frm: Form[models.ActividadFormData], actividadOpt: Option[models.Actividad] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("actividad.form.title")</h1>


        @if(frm.hasErrors){
            <div id="actividadErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("estado"), '_label -> "Estado")
          </div>
          <div class="form-group">
            @myInputText(frm("orden"), '_label -> "Orden")
          </div>
          <div class="form-group">
            @myInputText(frm("numeroInspectores"), '_label -> "NumeroInspectores")
          </div>
          <div class="form-group">
            @checkbox(frm("programada"), '_label -> "Programada")
          </div>
          <div class="form-group">
            @myInputText(frm("bloqueHorarioId"), '_label -> "BloqueHorarioId")
          </div>
          <div class="form-group">
            @myInputText(frm("duracion"), '_label -> "Duracion")
          </div>
          <div class="form-group">
            @myInputText(frm("tipoActividadId"), '_label -> "TipoActividadId")
          </div>
          <div class="form-group">
            @myInputText(frm("mes"), '_label -> "Mes")
          </div>
          <div class="form-group">
            @myInputText(frm("anio"), '_label -> "Anio")
          </div>
          <div class="form-group">
            @myInputText(frm("observaciones"), '_label -> "Observaciones")
          </div>
          <div id="InspeccionsDiv_@frm("Inspeccions").id">
              <h2>@Messages("Inspeccion.list")</h2>
              @repeat(frm("Inspeccions"), min = 0) { field =>
                  @controllers.InspeccionController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nInspeccions_@frm("Inspeccions").id" value="@frm("Inspeccions").indexes.size" />
          <div class="form-group">
              <a id="addNestedInspeccion_@frm("Inspeccions").id" href="javascript:;" onclick="addNestedInspeccion_@{frm("Inspeccions").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("Inspeccion.related.add")</a>
              <span id="loadingNested_Inspeccion@frm("Inspeccions").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedInspeccion_@{frm("Inspeccions").id}() {
                    $('#addNestedInspeccion_@frm("Inspeccions").id').hide(); $('#loadingNested_Inspeccion@frm("Inspeccions").id').show();
                    var i = parseInt($('#nInspeccions_@frm("Inspeccions").id').val());
                    $.ajax({
                      url: "@controllers.routes.InspeccionController.createNested()",
                      data: { i: i, name: '@frm("Inspeccions").id' }
                    }).done(function(msg) {
                        $('#InspeccionsDiv_@frm("Inspeccions").id').append(msg)
                        $('#nInspeccions_@frm("Inspeccions").id' ).val(i+1);
                        $('#addNestedInspeccion_@frm("Inspeccions").id').show(); $('#loadingNested_Inspeccion@frm("Inspeccions").id').hide();
                    });
              }
          </script>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @actividadOpt.map{ actividad =>
                @actividad.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.ActividadController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    