@(frm: Form[models.ItineraryAircraftFormData], itinerary_aircraft_manufacturer: List[models.ItineraryAircraftManufacturer], itineraryAircraftOpt: Option[models.ItineraryAircraft] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("itineraryAircraft.form.title")</h1>


        @if(frm.hasErrors){
            <div id="itineraryAircraftErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @select(frm("manufacturerId"),itinerary_aircraft_manufacturer.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "ManufacturerId")
          </div>
          <div class="form-group">
            @myInputText(frm("model"), '_label -> "Model")
          </div>
          <div class="form-group">
            @myInputText(frm("tpe"), '_label -> "Tpe")
          </div>
          <div class="form-group">
            @myInputText(frm("iataCode"), '_label -> "IataCode")
          </div>
          <div class="form-group">
            @myInputText(frm("nPassengers"), '_label -> "NPassengers")
          </div>
          <div class="form-group">
            @myInputText(frm("length"), '_label -> "Length")
          </div>
          <div class="form-group">
            @myInputText(frm("width"), '_label -> "Width")
          </div>
          <div class="form-group">
            @myInputText(frm("wingspan"), '_label -> "Wingspan")
          </div>
          <div class="form-group">
            @myInputText(frm("OMGWS"), '_label -> "OMGWS")
          </div>
          <div class="form-group">
            @myInputText(frm("series"), '_label -> "Series")
          </div>
          <div class="form-group">
            @myInputText(frm("ACN"), '_label -> "ACN")
          </div>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @itineraryAircraftOpt.map{ itineraryAircraft =>
                @itineraryAircraft.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.ItineraryAircraftController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    