@(frm: Form[models.ItineraryAircraftFormData], itinerary_aircraft_manufacturer: List[models.ItineraryAircraftManufacturer])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.itineraryAircraft.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ItineraryAircraftController.save(), 'id -> "itineraryAircraftForm", 'role -> "form") {
            @views.html.itineraryAircraft._form(frm, itinerary_aircraft_manufacturer)
        }

    </div>
}
    