@(itineraryAircraft: models.ItineraryAircraft)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.itineraryAircraft.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("itineraryAircraft.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ItineraryAircraftManufacturer</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.ItineraryAircraftManufacturerController.show(itineraryAircraft.manufacturerId.get)">@itineraryAircraft.getItineraryAircraftManufacturer.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Model</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.model</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tpe</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.tpe</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">IataCode</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.iataCode</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NPassengers</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.nPassengers</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Length</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.length</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Width</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.width</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Wingspan</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.wingspan</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">OMGWS</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.OMGWS</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Series</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.series</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ACN</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@itineraryAircraft.ACN</p>
                </div>
            </div>
        @itineraryAircraft.id.map{ id =>
            <a href="@controllers.routes.ItineraryAircraftController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.ItineraryAircraftController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.ItineraryAircraftController.index(1,20)">@Messages("list")</a>

}