@(frm: Form[models.LicenseRatingsFormData], licenseRatings: models.LicenseRatings)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.licenseRatings.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.LicenseRatingsController.update(licenseRatings.id.getOrElse(0)), 'id -> "licenseRatingsForm", 'role -> "form") {
            @views.html.licenseRatings._form(frm, Some(licenseRatings))
        }

    </div>
}
    