@(frm: Form[models.OrganizationFormData], organization: models.Organization)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.organization.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.OrganizationController.update(organization.id.getOrElse(0)), 'id -> "organizationForm", 'role -> "form") {
            @views.html.organization._form(frm, Some(organization))
        }

    </div>
}
    