@(frm: Form[models.ProgramaFormData], programa: models.Programa)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.programa.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ProgramaController.update(programa.id.getOrElse(0)), 'id -> "programaForm", 'role -> "form") {
            @views.html.programa._form(frm, Some(programa))
        }

    </div>
}
    