@(company: models.Company)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.company.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("company.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@company.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Company</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@company.company</p>
                </div>
            </div>
        @company.id.map{ id =>
            <a href="@controllers.routes.CompanyController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.CompanyController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.CompanyController.index(1,20)">@Messages("list")</a>

}