@(departamento: models.Departamento)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.departamento.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("departamento.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@departamento.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Departamento</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.DepartamentoController.show(departamento.departamentoId.get)">@departamento.getDepartamento.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">JefeId</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@departamento.jefeId</p>
                </div>
            </div>
        @departamento.id.map{ id =>
            <a href="@controllers.routes.DepartamentoController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.DepartamentoController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.DepartamentoController.index(1,20)">@Messages("list")</a>

}