@(perfilUsuarios: List[models.PerfilUsuario])

        <h2>@Messages("perfilUsuario.related.list")</h2>
        @for(perfilUsuario <- perfilUsuarios){
            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@perfilUsuario.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Perfil</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.PerfilController.show(perfilUsuario.perfilId.get)">@perfilUsuario.getPerfil.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>

        }
