@(frm: Form[models.FormFormData], organizacion: List[models.Organizacion], form: models.Form)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.form.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.FormController.update(form.id.getOrElse(0)), 'id -> "formForm", 'role -> "form") {
            @views.html.form._form(frm, organizacion, Some(form))
        }

    </div>
}
    