@(frm: Form[models.UserFormData], userOpt: Option[models.User] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("user.form.title")</h1>


        @if(frm.hasErrors){
            <div id="userErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("username"), '_label -> "Username")
          </div>
          <div class="form-group">
            @myInputText(frm("password"), '_label -> "Password")
          </div>
          <div class="form-group">
            @myInputText(frm("name"), '_label -> "Name")
          </div>
          <div class="form-group">
            @myInputText(frm("lastName"), '_label -> "LastName")
          </div>
          <div class="form-group">
            @myInputText(frm("lastName2"), '_label -> "LastName2")
          </div>
          <div class="form-group">
            @myInputText(frm("email"), '_label -> "Email")
          </div>
          <div class="form-group">
            @myInputText(frm("phone"), '_label -> "Phone")
          </div>
          <div class="form-group">
            @myInputText(frm("secretQuestion"), '_label -> "SecretQuestion")
          </div>
          <div class="form-group">
            @myInputText(frm("secretAnswer"), '_label -> "SecretAnswer")
          </div>
          <div id="userProfilesDiv_@frm("userProfiles").id">
              <h2>@Messages("userProfile.list")</h2>
              @repeat(frm("userProfiles"), min = 0) { field =>
                  @controllers.UserProfileController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nuserProfiles_@frm("userProfiles").id" value="@frm("userProfiles").indexes.size" />
          <div class="form-group">
              <a id="addNesteduserProfile_@frm("userProfiles").id" href="javascript:;" onclick="addNestedUserProfile_@{frm("userProfiles").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("userProfile.related.add")</a>
              <span id="loadingNested_userProfile@frm("userProfiles").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedUserProfile_@{frm("userProfiles").id}() {
                    $('#addNesteduserProfile_@frm("userProfiles").id').hide(); $('#loadingNested_userProfile@frm("userProfiles").id').show();
                    var i = parseInt($('#nuserProfiles_@frm("userProfiles").id').val());
                    $.ajax({
                      url: "@controllers.routes.UserProfileController.createNested()",
                      data: { i: i, name: '@frm("userProfiles").id' }
                    }).done(function(msg) {
                        $('#userProfilesDiv_@frm("userProfiles").id').append(msg)
                        $('#nuserProfiles_@frm("userProfiles").id' ).val(i+1);
                        $('#addNesteduserProfile_@frm("userProfiles").id').show(); $('#loadingNested_userProfile@frm("userProfiles").id').hide();
                    });
              }
          </script>
          <div id="itineraryUserAerodromesDiv_@frm("itineraryUserAerodromes").id">
              <h2>@Messages("itineraryUserAerodrome.list")</h2>
              @repeat(frm("itineraryUserAerodromes"), min = 0) { field =>
                  @controllers.ItineraryUserAerodromeController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nitineraryUserAerodromes_@frm("itineraryUserAerodromes").id" value="@frm("itineraryUserAerodromes").indexes.size" />
          <div class="form-group">
              <a id="addNesteditineraryUserAerodrome_@frm("itineraryUserAerodromes").id" href="javascript:;" onclick="addNestedItineraryUserAerodrome_@{frm("itineraryUserAerodromes").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("itineraryUserAerodrome.related.add")</a>
              <span id="loadingNested_itineraryUserAerodrome@frm("itineraryUserAerodromes").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedItineraryUserAerodrome_@{frm("itineraryUserAerodromes").id}() {
                    $('#addNesteditineraryUserAerodrome_@frm("itineraryUserAerodromes").id').hide(); $('#loadingNested_itineraryUserAerodrome@frm("itineraryUserAerodromes").id').show();
                    var i = parseInt($('#nitineraryUserAerodromes_@frm("itineraryUserAerodromes").id').val());
                    $.ajax({
                      url: "@controllers.routes.ItineraryUserAerodromeController.createNested()",
                      data: { i: i, name: '@frm("itineraryUserAerodromes").id' }
                    }).done(function(msg) {
                        $('#itineraryUserAerodromesDiv_@frm("itineraryUserAerodromes").id').append(msg)
                        $('#nitineraryUserAerodromes_@frm("itineraryUserAerodromes").id' ).val(i+1);
                        $('#addNesteditineraryUserAerodrome_@frm("itineraryUserAerodromes").id').show(); $('#loadingNested_itineraryUserAerodrome@frm("itineraryUserAerodromes").id').hide();
                    });
              }
          </script>
          <div id="itineraryUserCompanysDiv_@frm("itineraryUserCompanys").id">
              <h2>@Messages("itineraryUserCompany.list")</h2>
              @repeat(frm("itineraryUserCompanys"), min = 0) { field =>
                  @controllers.ItineraryUserCompanyController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nitineraryUserCompanys_@frm("itineraryUserCompanys").id" value="@frm("itineraryUserCompanys").indexes.size" />
          <div class="form-group">
              <a id="addNesteditineraryUserCompany_@frm("itineraryUserCompanys").id" href="javascript:;" onclick="addNestedItineraryUserCompany_@{frm("itineraryUserCompanys").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("itineraryUserCompany.related.add")</a>
              <span id="loadingNested_itineraryUserCompany@frm("itineraryUserCompanys").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedItineraryUserCompany_@{frm("itineraryUserCompanys").id}() {
                    $('#addNesteditineraryUserCompany_@frm("itineraryUserCompanys").id').hide(); $('#loadingNested_itineraryUserCompany@frm("itineraryUserCompanys").id').show();
                    var i = parseInt($('#nitineraryUserCompanys_@frm("itineraryUserCompanys").id').val());
                    $.ajax({
                      url: "@controllers.routes.ItineraryUserCompanyController.createNested()",
                      data: { i: i, name: '@frm("itineraryUserCompanys").id' }
                    }).done(function(msg) {
                        $('#itineraryUserCompanysDiv_@frm("itineraryUserCompanys").id').append(msg)
                        $('#nitineraryUserCompanys_@frm("itineraryUserCompanys").id' ).val(i+1);
                        $('#addNesteditineraryUserCompany_@frm("itineraryUserCompanys").id').show(); $('#loadingNested_itineraryUserCompany@frm("itineraryUserCompanys").id').hide();
                    });
              }
          </script>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @userOpt.map{ user =>
                @user.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.UserController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    