@(frm: Form[models.InjuryLevelFormData], injuryLevel: models.InjuryLevel)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.injuryLevel.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.InjuryLevelController.update(injuryLevel.id.getOrElse(0)), 'id -> "injuryLevelForm", 'role -> "form") {
            @views.html.injuryLevel._form(frm, Some(injuryLevel))
        }

    </div>
}
    