@(caca: models.Caca)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.caca.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("caca.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@caca.id</p>
                </div>
            </div>
        @caca.id.map{ id =>
            <a href="@controllers.routes.CacaController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.CacaController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.CacaController.index(1,20)">@Messages("list")</a>

}