@(frm: Form[models.PerfilUsuarioFormData], perfil: List[models.Perfil], usuario: List[models.Usuario], perfilUsuario: models.PerfilUsuario)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.perfilUsuario.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.PerfilUsuarioController.update(perfilUsuario.id.getOrElse(0)), 'id -> "perfilUsuarioForm", 'role -> "form") {
            @views.html.perfilUsuario._form(frm, perfil, usuario, Some(perfilUsuario))
        }

    </div>
}
    