@(frm: Form[models.ItineraryAircraftManufacturerFormData], itineraryAircraftManufacturerOpt: Option[models.ItineraryAircraftManufacturer] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("itineraryAircraftManufacturer.form.title")</h1>


        @if(frm.hasErrors){
            <div id="itineraryAircraftManufacturerErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("name"), '_label -> "Name")
          </div>
          <div id="itineraryAircraftsDiv_@frm("itineraryAircrafts").id">
              <h2>@Messages("itineraryAircraft.list")</h2>
              @repeat(frm("itineraryAircrafts"), min = 0) { field =>
                  @controllers.ItineraryAircraftController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nitineraryAircrafts_@frm("itineraryAircrafts").id" value="@frm("itineraryAircrafts").indexes.size" />
          <div class="form-group">
              <a id="addNesteditineraryAircraft_@frm("itineraryAircrafts").id" href="javascript:;" onclick="addNestedItineraryAircraft_@{frm("itineraryAircrafts").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("itineraryAircraft.related.add")</a>
              <span id="loadingNested_itineraryAircraft@frm("itineraryAircrafts").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedItineraryAircraft_@{frm("itineraryAircrafts").id}() {
                    $('#addNesteditineraryAircraft_@frm("itineraryAircrafts").id').hide(); $('#loadingNested_itineraryAircraft@frm("itineraryAircrafts").id').show();
                    var i = parseInt($('#nitineraryAircrafts_@frm("itineraryAircrafts").id').val());
                    $.ajax({
                      url: "@controllers.routes.ItineraryAircraftController.createNested()",
                      data: { i: i, name: '@frm("itineraryAircrafts").id' }
                    }).done(function(msg) {
                        $('#itineraryAircraftsDiv_@frm("itineraryAircrafts").id').append(msg)
                        $('#nitineraryAircrafts_@frm("itineraryAircrafts").id' ).val(i+1);
                        $('#addNesteditineraryAircraft_@frm("itineraryAircrafts").id').show(); $('#loadingNested_itineraryAircraft@frm("itineraryAircrafts").id').hide();
                    });
              }
          </script>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @itineraryAircraftManufacturerOpt.map{ itineraryAircraftManufacturer =>
                @itineraryAircraftManufacturer.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.ItineraryAircraftManufacturerController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    