@(frm: Form[models.ItineraryAircraftManufacturerFormData])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.itineraryAircraftManufacturer.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ItineraryAircraftManufacturerController.save(), 'id -> "itineraryAircraftManufacturerForm", 'role -> "form") {
            @views.html.itineraryAircraftManufacturer._form(frm)
        }

    </div>
}
    