@(frm: Form[models.ProgramaTipoInspectorFormData], programa: List[models.Programa], tipo_inspector: List[models.TipoInspector], programaTipoInspector: models.ProgramaTipoInspector)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.programaTipoInspector.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ProgramaTipoInspectorController.update(programaTipoInspector.id.getOrElse(0)), 'id -> "programaTipoInspectorForm", 'role -> "form") {
            @views.html.programaTipoInspector._form(frm, programa, tipo_inspector, Some(programaTipoInspector))
        }

    </div>
}
    