@(frm: play.api.data.Field, zaep: List[models.Zaep], zaepStepOpt: Option[models.ZaepStep] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

<div class="panel panel-default" id="nestedParent@frm.id">
    <div class="panel-heading">
        <a class="pull-right glyphicon glyphicon-remove" href="javascript:;" onclick="if(confirm('are you sure?')) $('#nestedParent@frm.id').remove()"></a>
        <h3 class="panel-title">@Messages("zaepStep.form.title")</h3>
    </div>
    <div class="panel-body">

        @if(frm.hasErrors){
            <div id="zaepStepErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

            <input type="hidden" id="@frm("id").id" name="@frm("id").name" value="@frm("id").value" />
            <input type="hidden" id="@frm("zaepId").id" name="@frm("zaepId").name" value="@frm("zaepId").value" />
          <div class="form-group">
            @myInputText(frm("tpe"), '_label -> "Tpe")
          </div>
          <div class="form-group">
            @myInputText(frm("latitude"), '_label -> "Latitude")
          </div>
          <div class="form-group">
            @myInputText(frm("longitude"), '_label -> "Longitude")
          </div>
          <div class="form-group">
            @myInputText(frm("radius"), '_label -> "Radius")
          </div>
          <div class="form-group">
            @myInputText(frm("orientation"), '_label -> "Orientation")
          </div>
          <div class="form-group">
            @myInputText(frm("number"), '_label -> "Number")
          </div>

    </div>
</div>
    