@(frm: Form[models.ZaepStepFormData], zaep: List[models.Zaep])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.ifiscore.zaepStep.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.ifiscore.routes.ZaepStepController.save(), 'id -> "zaepStepForm", 'role -> "form") {
            @views.html.ifiscore.zaepStep._form(frm, zaep)
        }

    </div>
}
    