@(frm: Form[models.ZaepStepFormData], zaep: List[models.Zaep], zaepStep: models.ZaepStep)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.ifiscore.zaepStep.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.ifiscore.routes.ZaepStepController.update(zaepStep.id.getOrElse(0)), 'id -> "zaepStepForm", 'role -> "form") {
            @views.html.ifiscore.zaepStep._form(frm, zaep, Some(zaepStep))
        }

    </div>
}
    