@(frm: Form[models.SubantarticStationFormData], location: List[models.Location])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.subantarticStation.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.SubantarticStationController.save(), 'id -> "subantarticStationForm", 'role -> "form") {
            @views.html.subantarticStation._form(frm, location)
        }

    </div>
}
    