@(frm: Form[models.FormularioInstanciaFormData], formulario: List[models.Formulario], formularioInstancia: models.FormularioInstancia)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.formularioInstancia.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.FormularioInstanciaController.update(formularioInstancia.id.getOrElse(0)), 'id -> "formularioInstanciaForm", 'role -> "form") {
            @views.html.formularioInstancia._form(frm, formulario, Some(formularioInstancia))
        }

    </div>
}
    