@(neoFlightOperationEventTypePhases: List[models.NeoFlightOperationEventTypePhase])

        <h2>@Messages("neoFlightOperationEventTypePhase.related.list")</h2>
        @for(neoFlightOperationEventTypePhase <- neoFlightOperationEventTypePhases){
            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@neoFlightOperationEventTypePhase.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NeoFlightOperation</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.NeoFlightOperationController.show(neoFlightOperationEventTypePhase.neoFlightOperationId.get)">@neoFlightOperationEventTypePhase.getNeoFlightOperation.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">NeoEventType</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.NeoEventTypeController.show(neoFlightOperationEventTypePhase.neoEventTypeId.get)">@neoFlightOperationEventTypePhase.getNeoEventType.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phase</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.PhaseController.show(neoFlightOperationEventTypePhase.phaseId.get)">@neoFlightOperationEventTypePhase.getPhase.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
        }
