@(frm: Form[models.MeteoStationFormData], location: List[models.Location])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.meteoStation.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.MeteoStationController.save(), 'id -> "meteoStationForm", 'role -> "form") {
            @views.html.meteoStation._form(frm, location)
        }

    </div>
}
    