@(frm: Form[models.ItineraryUserCompanyFormData], user: List[models.User], company: List[models.Company], itineraryUserCompany: models.ItineraryUserCompany)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.itineraryUserCompany.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ItineraryUserCompanyController.update(itineraryUserCompany.id.getOrElse(0)), 'id -> "itineraryUserCompanyForm", 'role -> "form") {
            @views.html.itineraryUserCompany._form(frm, user, company, Some(itineraryUserCompany))
        }

    </div>
}
    