@(frm: play.api.data.Field, actividad: List[models.Actividad], inspeccionOpt: Option[models.Inspeccion] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

<div class="panel panel-default" id="nestedParent@frm.id">
    <div class="panel-heading">
        <a class="pull-right glyphicon glyphicon-remove" href="javascript:;" onclick="if(confirm('are you sure?')) $('#nestedParent@frm.id').remove()"></a>
        <h3 class="panel-title">@Messages("inspeccion.form.title")</h3>
    </div>
    <div class="panel-body">

        @if(frm.hasErrors){
            <div id="inspeccionErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

            <input type="hidden" id="@frm("id").id" name="@frm("id").name" value="@frm("id").value" />
          <div class="form-group">
            @myInputText(frm("inspeccion"), '_label -> "Inspeccion")
          </div>
          <div class="form-group">
            @inputDate(frm("fechaInicio"), '_label -> "FechaInicio")
          </div>
          <div class="form-group">
            @inputDate(frm("fechaTermino"), '_label -> "FechaTermino")
          </div>
          <div class="form-group">
            @myInputText(frm("orden"), '_label -> "Orden")
          </div>
          <div class="form-group">
            @myInputText(frm("programaId"), '_label -> "ProgramaId")
          </div>
            <input type="hidden" id="@frm("actividadId").id" name="@frm("actividadId").name" value="@frm("actividadId").value" />
          <div class="form-group">
            @myInputText(frm("objetoInspeccionId"), '_label -> "ObjetoInspeccionId")
          </div>
          <div class="form-group">
            @myInputText(frm("objetoInspeccionInstanciaId"), '_label -> "ObjetoInspeccionInstanciaId")
          </div>

    </div>
</div>
    