@(frm: Form[models.FlighCrewFormData], flight_crew_category: List[models.FlightCrewCategory])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.flighCrew.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.FlighCrewController.save(), 'id -> "flighCrewForm", 'role -> "form") {
            @views.html.flighCrew._form(frm, flight_crew_category)
        }

    </div>
}
    