@(frm: Form[models.HelicopterLandingAreaAreaConfigurationFormData], helicopterLandingAreaAreaConfiguration: models.HelicopterLandingAreaAreaConfiguration)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.helicopterLandingAreaAreaConfiguration.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.HelicopterLandingAreaAreaConfigurationController.update(helicopterLandingAreaAreaConfiguration.id.getOrElse(0)), 'id -> "helicopterLandingAreaAreaConfigurationForm", 'role -> "form") {
            @views.html.helicopterLandingAreaAreaConfiguration._form(frm, Some(helicopterLandingAreaAreaConfiguration))
        }

    </div>
}
    