@(helicopterLandingAreaAreaConfiguration: models.HelicopterLandingAreaAreaConfiguration)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.helicopterLandingAreaAreaConfiguration.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("helicopterLandingAreaAreaConfiguration.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@helicopterLandingAreaAreaConfiguration.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">AreaConfiguration</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@helicopterLandingAreaAreaConfiguration.areaConfiguration</p>
                </div>
            </div>
        @helicopterLandingAreaAreaConfiguration.id.map{ id =>
            <a href="@controllers.routes.HelicopterLandingAreaAreaConfigurationController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.HelicopterLandingAreaAreaConfigurationController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.HelicopterLandingAreaAreaConfigurationController.index(1,20)">@Messages("list")</a>

}