@(frm: Form[models.AircraftCategoryFormData], aircraft_category: List[models.AircraftCategory], aircraftCategory: models.AircraftCategory)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.aircraftCategory.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.AircraftCategoryController.update(aircraftCategory.id.getOrElse(0)), 'id -> "aircraftCategoryForm", 'role -> "form") {
            @views.html.aircraftCategory._form(frm, aircraft_category, Some(aircraftCategory))
        }

    </div>
}
    