@(frm: Form[models.AircraftPropulsionTypeFormData], aircraftPropulsionType: models.AircraftPropulsionType)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.aircraftPropulsionType.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.AircraftPropulsionTypeController.update(aircraftPropulsionType.id.getOrElse(0)), 'id -> "aircraftPropulsionTypeForm", 'role -> "form") {
            @views.html.aircraftPropulsionType._form(frm, Some(aircraftPropulsionType))
        }

    </div>
}
    