@(frm: Form[models.UsuarioFormData], usuarioOpt: Option[models.Usuario] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("usuario.form.title")</h1>


        @if(frm.hasErrors){
            <div id="usuarioErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("nombre"), '_label -> "Nombre")
          </div>
          <div class="form-group">
            @myInputText(frm("email"), '_label -> "Email")
          </div>
          <div class="form-group">
            @myInputText(frm("contrasena"), '_label -> "Contrasena")
          </div>
          <div class="form-group">
            @myInputText(frm("estado"), '_label -> "Estado")
          </div>
          <div class="form-group">
            @myInputText(frm("rut"), '_label -> "Rut")
          </div>
          <div id="perfilUsuariosDiv_@frm("perfilUsuarios").id">
              <h2>@Messages("perfilUsuario.list")</h2>
              @repeat(frm("perfilUsuarios"), min = 0) { field =>
                  @controllers.PerfilUsuarioController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nperfilUsuarios_@frm("perfilUsuarios").id" value="@frm("perfilUsuarios").indexes.size" />
          <div class="form-group">
              <a id="addNestedperfilUsuario_@frm("perfilUsuarios").id" href="javascript:;" onclick="addNestedPerfilUsuario_@{frm("perfilUsuarios").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("perfilUsuario.related.add")</a>
              <span id="loadingNested_perfilUsuario@frm("perfilUsuarios").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedPerfilUsuario_@{frm("perfilUsuarios").id}() {
                    $('#addNestedperfilUsuario_@frm("perfilUsuarios").id').hide(); $('#loadingNested_perfilUsuario@frm("perfilUsuarios").id').show();
                    var i = parseInt($('#nperfilUsuarios_@frm("perfilUsuarios").id').val());
                    $.ajax({
                      url: "@controllers.routes.PerfilUsuarioController.createNested()",
                      data: { i: i, name: '@frm("perfilUsuarios").id' }
                    }).done(function(msg) {
                        $('#perfilUsuariosDiv_@frm("perfilUsuarios").id').append(msg)
                        $('#nperfilUsuarios_@frm("perfilUsuarios").id' ).val(i+1);
                        $('#addNestedperfilUsuario_@frm("perfilUsuarios").id').show(); $('#loadingNested_perfilUsuario@frm("perfilUsuarios").id').hide();
                    });
              }
          </script>
          <div id="departamentoUsuariosDiv_@frm("departamentoUsuarios").id">
              <h2>@Messages("departamentoUsuario.list")</h2>
              @repeat(frm("departamentoUsuarios"), min = 0) { field =>
                  @controllers.DepartamentoUsuarioController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="ndepartamentoUsuarios_@frm("departamentoUsuarios").id" value="@frm("departamentoUsuarios").indexes.size" />
          <div class="form-group">
              <a id="addNesteddepartamentoUsuario_@frm("departamentoUsuarios").id" href="javascript:;" onclick="addNestedDepartamentoUsuario_@{frm("departamentoUsuarios").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("departamentoUsuario.related.add")</a>
              <span id="loadingNested_departamentoUsuario@frm("departamentoUsuarios").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedDepartamentoUsuario_@{frm("departamentoUsuarios").id}() {
                    $('#addNesteddepartamentoUsuario_@frm("departamentoUsuarios").id').hide(); $('#loadingNested_departamentoUsuario@frm("departamentoUsuarios").id').show();
                    var i = parseInt($('#ndepartamentoUsuarios_@frm("departamentoUsuarios").id').val());
                    $.ajax({
                      url: "@controllers.routes.DepartamentoUsuarioController.createNested()",
                      data: { i: i, name: '@frm("departamentoUsuarios").id' }
                    }).done(function(msg) {
                        $('#departamentoUsuariosDiv_@frm("departamentoUsuarios").id').append(msg)
                        $('#ndepartamentoUsuarios_@frm("departamentoUsuarios").id' ).val(i+1);
                        $('#addNesteddepartamentoUsuario_@frm("departamentoUsuarios").id').show(); $('#loadingNested_departamentoUsuario@frm("departamentoUsuarios").id').hide();
                    });
              }
          </script>
          <div id="usuarioTipoInspectorsDiv_@frm("usuarioTipoInspectors").id">
              <h2>@Messages("usuarioTipoInspector.list")</h2>
              @repeat(frm("usuarioTipoInspectors"), min = 0) { field =>
                  @controllers.UsuarioTipoInspectorController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nusuarioTipoInspectors_@frm("usuarioTipoInspectors").id" value="@frm("usuarioTipoInspectors").indexes.size" />
          <div class="form-group">
              <a id="addNestedusuarioTipoInspector_@frm("usuarioTipoInspectors").id" href="javascript:;" onclick="addNestedUsuarioTipoInspector_@{frm("usuarioTipoInspectors").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("usuarioTipoInspector.related.add")</a>
              <span id="loadingNested_usuarioTipoInspector@frm("usuarioTipoInspectors").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedUsuarioTipoInspector_@{frm("usuarioTipoInspectors").id}() {
                    $('#addNestedusuarioTipoInspector_@frm("usuarioTipoInspectors").id').hide(); $('#loadingNested_usuarioTipoInspector@frm("usuarioTipoInspectors").id').show();
                    var i = parseInt($('#nusuarioTipoInspectors_@frm("usuarioTipoInspectors").id').val());
                    $.ajax({
                      url: "@controllers.routes.UsuarioTipoInspectorController.createNested()",
                      data: { i: i, name: '@frm("usuarioTipoInspectors").id' }
                    }).done(function(msg) {
                        $('#usuarioTipoInspectorsDiv_@frm("usuarioTipoInspectors").id').append(msg)
                        $('#nusuarioTipoInspectors_@frm("usuarioTipoInspectors").id' ).val(i+1);
                        $('#addNestedusuarioTipoInspector_@frm("usuarioTipoInspectors").id').show(); $('#loadingNested_usuarioTipoInspector@frm("usuarioTipoInspectors").id').hide();
                    });
              }
          </script>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @usuarioOpt.map{ usuario =>
                @usuario.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.UsuarioController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    