@(frm: Form[models.EccairsFormData], state_area: List[models.StateArea], ocurrence_class: List[models.OcurrenceClass], injury_level: List[models.InjuryLevel], aircraft_mass_group: List[models.AircraftMassGroup], aircraft_category: List[models.AircraftCategory], operation_type: List[models.OperationType], operator_type: List[models.OperatorType], operator: List[models.Operator], weather_condition: List[models.WeatherCondition], eccairs: models.Eccairs)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.eccairs.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.EccairsController.update(eccairs.id.getOrElse(0)), 'id -> "eccairsForm", 'role -> "form") {
            @views.html.eccairs._form(frm, state_area, ocurrence_class, injury_level, aircraft_mass_group, aircraft_category, operation_type, operator_type, operator, weather_condition, Some(eccairs))
        }

    </div>
}
    