@(list: List[models.Eccairs], total: Int, page: Int, pageLength: Int)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.eccairs.main(Html(Messages("home.title")))(sidebar(1)) {

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-success pull-right" data-dismiss="modal" href="@controllers.routes.EccairsController.create()">@Messages("new")</a>
            <h2 class="panel-title">
                @Messages("eccairs.list.title")
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @{Messages("paginator.list.total")+" "+total+" "+Messages("paginator.list.from")+" "+((page-1)*20)+" "+Messages("paginator.list.to")+" "+(math.min(page*20, total))}
            @views.html.userprofile.paginator(total, page, pageLength, {(x: Int, y: Int) => controllers.routes.EccairsController.index(x, y)})
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                                                                                                                        <th>@Messages("eccairs.id")</th>
                        <th>@Messages("eccairs.number")</th>
                        <th>@Messages("eccairs.date")</th>
                        <th>@Messages("eccairs.stateAreaId")</th>
                        <th>@Messages("eccairs.ocurrenceClassId")</th>
                        <th>@Messages("eccairs.injuryLevelId")</th>
                        <th>@Messages("eccairs.massGroupId")</th>
                        <th>@Messages("eccairs.categoryId")</th>
                        <th>@Messages("eccairs.registry")</th>
                        <th>@Messages("eccairs.operationTypeId")</th>
                        <th>@Messages("eccairs.operatorTypeId")</th>
                        <th>@Messages("eccairs.operatorId")</th>
                        <th>@Messages("eccairs.weatherConditionId")</th>
                        <th>@Messages("Actions")</th>
                    </tr>
                </thead>
                <tbody>
                @for(obj <- list) {
                    <tr class="if(it.state==1){warning}else{}">
                                                                                                                                   <td>@obj.id</td>
                        <td>@obj.number</td>
                        <td>@obj.date</td>
                        <td>@obj.stateAreaId</td>
                        <td>@obj.ocurrenceClassId</td>
                        <td>@obj.injuryLevelId</td>
                        <td>@obj.massGroupId</td>
                        <td>@obj.categoryId</td>
                        <td>@obj.registry</td>
                        <td>@obj.operationTypeId</td>
                        <td>@obj.operatorTypeId</td>
                        <td>@obj.operatorId</td>
                        <td>@obj.weatherConditionId</td>
                        <td>
                            <a href="@controllers.routes.EccairsController.show(obj.id.get)">@Messages("show")</a>
                            <a href="@controllers.routes.EccairsController.edit(obj.id.get)">@Messages("edit")</a>
                            <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.EccairsController.delete(obj.id.get)';">@Messages("delete")</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @views.html.userprofile.paginator(total, page, pageLength, {(x: Int, y: Int) => controllers.routes.EccairsController.index(x, y)})

        </div>
    </div>
}
    