@(frm: Form[models.InstrumentApprTypeFormData])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.instrumentApprType.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.InstrumentApprTypeController.save(), 'id -> "instrumentApprTypeForm", 'role -> "form") {
            @views.html.instrumentApprType._form(frm)
        }

    </div>
}
    