@(instrumentApprType: models.InstrumentApprType)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.instrumentApprType.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("instrumentApprType.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@instrumentApprType.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">InstrumentApprType</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@instrumentApprType.instrumentApprType</p>
                </div>
            </div>
        @instrumentApprType.id.map{ id =>
            <a href="@controllers.routes.InstrumentApprTypeController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.InstrumentApprTypeController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.InstrumentApprTypeController.index(1,20)">@Messages("list")</a>

}