@(frm: Form[models.FlightCrewCategoryFormData], flightCrewCategory: models.FlightCrewCategory)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.flightCrewCategory.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.FlightCrewCategoryController.update(flightCrewCategory.id.getOrElse(0)), 'id -> "flightCrewCategoryForm", 'role -> "form") {
            @views.html.flightCrewCategory._form(frm, Some(flightCrewCategory))
        }

    </div>
}
    