@(frm: Form[models.ActividadFormData], actividad: models.Actividad)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.actividad.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ActividadController.update(actividad.id.getOrElse(0)), 'id -> "actividadForm", 'role -> "form") {
            @views.html.actividad._form(frm, Some(actividad))
        }

    </div>
}
    