@(frm: Form[models.OperatorFormData], operator_type: List[models.OperatorType])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.operator.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.OperatorController.save(), 'id -> "operatorForm", 'role -> "form") {
            @views.html.operator._form(frm, operator_type)
        }

    </div>
}
    