@(frm: Form[models.InspeccionFormData], actividad: List[models.Actividad], inspeccionOpt: Option[models.Inspeccion] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("inspeccion.form.title")</h1>


        @if(frm.hasErrors){
            <div id="inspeccionErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("inspeccion"), '_label -> "Inspeccion")
          </div>
          <div class="form-group">
            @inputDate(frm("fechaInicio"), '_label -> "FechaInicio")
          </div>
          <div class="form-group">
            @inputDate(frm("fechaTermino"), '_label -> "FechaTermino")
          </div>
          <div class="form-group">
            @myInputText(frm("orden"), '_label -> "Orden")
          </div>
          <div class="form-group">
            @myInputText(frm("programaId"), '_label -> "ProgramaId")
          </div>
          <div class="form-group">
            @select(frm("actividadId"),actividad.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "ActividadId")
          </div>
          <div class="form-group">
            @myInputText(frm("objetoInspeccionId"), '_label -> "ObjetoInspeccionId")
          </div>
          <div class="form-group">
            @myInputText(frm("objetoInspeccionInstanciaId"), '_label -> "ObjetoInspeccionInstanciaId")
          </div>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @inspeccionOpt.map{ inspeccion =>
                @inspeccion.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.InspeccionController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    