@(inspeccion: models.Inspeccion)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.inspeccion.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("inspeccion.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Inspeccion</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.inspeccion</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">FechaInicio</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.fechaInicio</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">FechaTermino</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.fechaTermino</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Orden</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.orden</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ProgramaId</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.programaId</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Actividad</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="@controllers.routes.ActividadController.show(inspeccion.actividadId.get)">@inspeccion.getActividad.map{c => @c.selectString}.getOrElse("NOT FOUND")</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ObjetoInspeccionId</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.objetoInspeccionId</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ObjetoInspeccionInstanciaId</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@inspeccion.objetoInspeccionInstanciaId</p>
                </div>
            </div>
        @inspeccion.id.map{ id =>
            <a href="@controllers.routes.InspeccionController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.InspeccionController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.InspeccionController.index(1,20)">@Messages("list")</a>

}