@(frm: Form[models.DetectionPhaseFormData], detectionPhase: models.DetectionPhase)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.detectionPhase.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.DetectionPhaseController.update(detectionPhase.id.getOrElse(0)), 'id -> "detectionPhaseForm", 'role -> "form") {
            @views.html.detectionPhase._form(frm, Some(detectionPhase))
        }

    </div>
}
    