@(frm: Form[models.ItineraryUserAerodromeFormData], user: List[models.User], aerodrome: List[models.Aerodrome], itineraryUserAerodrome: models.ItineraryUserAerodrome)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.itineraryUserAerodrome.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ItineraryUserAerodromeController.update(itineraryUserAerodrome.id.getOrElse(0)), 'id -> "itineraryUserAerodromeForm", 'role -> "form") {
            @views.html.itineraryUserAerodrome._form(frm, user, aerodrome, Some(itineraryUserAerodrome))
        }

    </div>
}
    