@(frm: Form[models.ProgramaFormData], departamento: List[models.Departamento], categoria_inspeccion: List[models.CategoriaInspeccion], objeto_inspeccion_tipo: List[models.ObjetoInspeccionTipo], programaOpt: Option[models.Programa] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("programa.form.title")</h1>


        @if(frm.hasErrors){
            <div id="programaErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("programa"), '_label -> "Programa")
          </div>
          <div class="form-group">
            @myInputText(frm("acronimo"), '_label -> "Acronimo")
          </div>
          <div class="form-group">
            @select(frm("departamentoId"),departamento.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "DepartamentoId")
          </div>
          <div class="form-group">
            @select(frm("categoriaInspeccionId"),categoria_inspeccion.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "CategoriaInspeccionId")
          </div>
          <div class="form-group">
            @select(frm("objetoInspeccionTipoId"),objeto_inspeccion_tipo.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "ObjetoInspeccionTipoId")
          </div>
          <div id="programaTipoInspectorsDiv_@frm("programaTipoInspectors").id">
              <h2>@Messages("programaTipoInspector.list")</h2>
              @repeat(frm("programaTipoInspectors"), min = 0) { field =>
                  @controllers.ProgramaTipoInspectorController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nprogramaTipoInspectors_@frm("programaTipoInspectors").id" value="@frm("programaTipoInspectors").indexes.size" />
          <div class="form-group">
              <a id="addNestedprogramaTipoInspector_@frm("programaTipoInspectors").id" href="javascript:;" onclick="addNestedProgramaTipoInspector_@{frm("programaTipoInspectors").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("programaTipoInspector.related.add")</a>
              <span id="loadingNested_programaTipoInspector@frm("programaTipoInspectors").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedProgramaTipoInspector_@{frm("programaTipoInspectors").id}() {
                    $('#addNestedprogramaTipoInspector_@frm("programaTipoInspectors").id').hide(); $('#loadingNested_programaTipoInspector@frm("programaTipoInspectors").id').show();
                    var i = parseInt($('#nprogramaTipoInspectors_@frm("programaTipoInspectors").id').val());
                    $.ajax({
                      url: "@controllers.routes.ProgramaTipoInspectorController.createNested()",
                      data: { i: i, name: '@frm("programaTipoInspectors").id' }
                    }).done(function(msg) {
                        $('#programaTipoInspectorsDiv_@frm("programaTipoInspectors").id').append(msg)
                        $('#nprogramaTipoInspectors_@frm("programaTipoInspectors").id' ).val(i+1);
                        $('#addNestedprogramaTipoInspector_@frm("programaTipoInspectors").id').show(); $('#loadingNested_programaTipoInspector@frm("programaTipoInspectors").id').hide();
                    });
              }
          </script>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @programaOpt.map{ programa =>
                @programa.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.ProgramaController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    