@(frm: Form[models.ProgramaFormData], departamento: List[models.Departamento], categoria_inspeccion: List[models.CategoriaInspeccion], objeto_inspeccion_tipo: List[models.ObjetoInspeccionTipo])(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import helper._
@views.html.programa.main(Html(Messages("home.title")))(sidebar(1)) {
    <div style="width:100%">
        @form(controllers.routes.ProgramaController.save(), 'id -> "programaForm", 'role -> "form") {
            @views.html.programa._form(frm, departamento, categoria_inspeccion, objeto_inspeccion_tipo)
        }

    </div>
}
    