@(programa: models.Programa)(implicit lang: Lang, flash: Flash, session: Session, context: controllers.ApplicationContext)

@views.html.programa.main(Html(Messages("home.title")))(sidebar(1)) {

        <h1>@Messages("programa.show.title")</h3>

                                                     <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@programa.id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Programa</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@programa.programa</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Acronimo</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@programa.acronimo</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Departamento</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CategoriaInspeccion</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ObjetoInspeccionTipo</label>
                <div class="col-sm-10">
                    <p class="form-control-static"></p>
                </div>
            </div>
            @controllers.ProgramaTipoInspectorController.showByPrograma(programa.id)
        @programa.id.map{ id =>
            <a href="@controllers.routes.ProgramaController.edit(id)">@Messages("edit")</a>
         | <a href="javascript:;" onclick="if(confirm('are you sure?')) window.location = '@controllers.routes.ProgramaController.delete(id)';">@Messages("delete")</a>
        }
        | <a href="@controllers.routes.ProgramaController.index(1,20)">@Messages("list")</a>

}