@(frm: Form[models.LocationFormData], locationOpt: Option[models.Location] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("location.form.title")</h1>


        @if(frm.hasErrors){
            <div id="locationErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("location"), '_label -> "Location")
          </div>
          <div class="form-group">
            @myInputText(frm("locationType"), '_label -> "LocationType")
          </div>
          <div class="form-group">
            @myInputText(frm("latitude"), '_label -> "Latitude")
          </div>
          <div class="form-group">
            @myInputText(frm("longitude"), '_label -> "Longitude")
          </div>
          <div class="form-group">
            @myInputText(frm("altitude"), '_label -> "Altitude")
          </div>
          <div class="form-group">
            @myInputText(frm("slug"), '_label -> "Slug")
          </div>
          <div id="LocationCountrysDiv_@frm("LocationCountrys").id">
              <h2>@Messages("LocationCountry.list")</h2>
              @repeat(frm("LocationCountrys"), min = 0) { field =>
                  @controllers.LocationCountryController.nestedForm(field)
              }
          </div>
          <input type="hidden" id="nLocationCountrys_@frm("LocationCountrys").id" value="@frm("LocationCountrys").indexes.size" />
          <div class="form-group">
              <a id="addNestedLocationCountry_@frm("LocationCountrys").id" href="javascript:;" onclick="addNestedLocationCountry_@{frm("LocationCountrys").id}()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages("LocationCountry.related.add")</a>
              <span id="loadingNested_LocationCountry@frm("LocationCountrys").id" style="display:none;">Loading...</span>
          </div>

          <script>
              function addNestedLocationCountry_@{frm("LocationCountrys").id}() {
                    $('#addNestedLocationCountry_@frm("LocationCountrys").id').hide(); $('#loadingNested_LocationCountry@frm("LocationCountrys").id').show();
                    var i = parseInt($('#nLocationCountrys_@frm("LocationCountrys").id').val());
                    $.ajax({
                      url: "@controllers.routes.LocationCountryController.createNested()",
                      data: { i: i, name: '@frm("LocationCountrys").id' }
                    }).done(function(msg) {
                        $('#LocationCountrysDiv_@frm("LocationCountrys").id').append(msg)
                        $('#nLocationCountrys_@frm("LocationCountrys").id' ).val(i+1);
                        $('#addNestedLocationCountry_@frm("LocationCountrys").id').show(); $('#loadingNested_LocationCountry@frm("LocationCountrys").id').hide();
                    });
              }
          </script>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @locationOpt.map{ location =>
                @location.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.LocationController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    