@(frm: Form[models.HelicopterLandingAreaFormData], aerodrome: List[models.Aerodrome], helicopterLandingAreaOpt: Option[models.HelicopterLandingArea] = None)(implicit flash: Flash, lang: Lang, session: Session, context: controllers.ApplicationContext, request: Request[AnyContent])
@import myHelper._
@import helper._

        <h1>@Messages("helicopterLandingArea.form.title")</h1>


        @if(frm.hasErrors){
            <div id="helicopterLandingAreaErrors" class="row alert alert-danger">
            @frm.errors.map{ formError =>
                <ul>
                    <li><strong>@formError.key:</strong> @formError.message</li>
                </ul>
            }
            </div>
        }

          <div class="form-group">
            <input type="hidden" id="id" name="id" value="@frm("id").value" />
          </div>
          <div class="form-group">
            @myInputText(frm("helicopterLandingArea"), '_label -> "HelicopterLandingArea")
          </div>
          <div class="form-group">
            @select(frm("aerodromeId"),aerodrome.map(o => o.id.getOrElse("0").toString -> o.selectString), '_label -> "AerodromeId")
          </div>



        <div class="modalButtons">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("close")</button>
            @helicopterLandingAreaOpt.map{ helicopterLandingArea =>
                @helicopterLandingArea.id.map{ id =>
                    <button type="button" id="btn-delete" class="btn btn-danger" onclick="if(confirm('are you sure?')) window.location='@controllers.routes.HelicopterLandingAreaController.delete(id)';">
                    @Messages("delete")</button>
                }
            }
            <input type="submit" id="btn-transmitir" class="btn btn-success" value="@Messages("save")"/>
        </div>


    